@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&display=swap');
@import "tailwindcss";

@theme {
  --font-jua: "Jua", sans-serif;
  --font-gowun: "Gowun Dodum", sans-serif;
}

body {
  font-family: var(--font-gowun);
  background-color: #fdfbfb;
}

h1, h2, h3, h4, h5, h6, .font-title {
  font-family: var(--font-jua);
}
